/* responsive.css */
/* mobile(402~) -> tablet(1028~) -> desktop(1920~) */
@media screen and (max-width:1028px) {
    /* ===========================================================================0. header */
    #wrap header .all_menu nav #gnb li {display:none;}
    #wrap header .all_menu nav #gnb li:first-child {display:block;}
    /* ===========================================================================1. hero_bnr */
    #wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper .swiper-slide .hero_swiper .text {}
    #wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper .swiper-slide .hero_swiper .text .text_title p {font-size:0.75rem; margin-bottom:12px;}
    #wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper .slide1 .hero_swiper .text .text_title p span {width:10px;}
    #wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper .swiper-slide .hero_swiper .text .text_title h1 {font-size:3.13rem; margin-bottom:30px;}
    #wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper .swiper-slide .hero_swiper .text > p {font-size:0.75rem;}
    #wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper .slide1 {
    background-image:url(../images/hero_bnr/hero_bnr_t01.jpg);
    aspect-ratio: 1028 / 800;
    }
    #wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper .slide2 {
        background-image:url(../images/hero_bnr/hero_bnr_t02.jpg);
        aspect-ratio: 1028 / 800;
    }
    #wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper .slide2 .hero_swiper .text .text_title .sub_text_title {display:flex; flex-flow:column nowrap; gap:0; margin-bottom:15px;}
    #wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper .slide2 .hero_swiper .text .text_title .sub_text_title p {margin-bottom:5px;}
    /* ===========================================================================공통 container */
    #wrap main .container {padding:80px 80px 0;}
    #wrap main .container .list_container .swiper .swiper-wrapper {
    width:calc((100% - 40px) / 3);
    }
    #wrap main .container .list_container .swiper .swiper-wrapper .swiper-slide .photo {height:350px;}
    #wrap main .container .list_container .swiper .swiper-wrapper .swiper-slide .photo img {
    height:100%; margin-bottom:20px;
    }
    /* ===========================================================================3. new_item */
    #wrap main .new_item {
    gap:30px; padding:80px 80px 0 0; justify-content:stretch;
    }
    #wrap main .new_item > p {
    background-image:url(../images/tablet/new_item_bnr_tablet.png);
    background-position:center; background-size:cover; width:346px;
    }
    #wrap main .new_item .new_container .new_info h1 {margin-bottom:30px;}
    #wrap main .new_item .new_container .new_info .new_detail {align-items:flex-end;}
    #wrap main .new_item .new_container .new_list .new_contents .photo {width:266px;}
    #wrap main .new_item .new_container .new_list .new_contents .contents > h2 {margin-bottom:25px;}
    #wrap main .new_item .new_container .new_list .new_contents .contents .price_info .discount {font-size:0.88rem;}
    #wrap main .new_item .new_container .new_list .new_contents .contents .price_info .price {font-size:0.88rem;}
    /* ===========================================================================4. boncept */
    #wrap main .boncept {padding:80px 0;}
    #wrap main .boncept .boncept_bnr {
        background-image:url(../images/tablet/boncept_bnr_tablet.png);
    }
    #wrap main .boncept .boncept_bnr .title::before {
        width:250px; height:250px;
        background-position:center; background-size:cover;
    }
    #wrap main .boncept .boncept_bnr .title {width:50%;}
    #wrap main .boncept .boncept_bnr .title p {display:block; margin-bottom:8px; text-align:center;}
    #wrap main .boncept .boncept_bnr .title p:last-child {margin-bottom:0;}
    /* ===========================================================================5. monthlyTONY. */
    #wrap main .magazine_wrap {padding:0 0 0 0;}
    #wrap main .magazine_wrap .monthly_tony {
        grid-template-columns:1fr 560px;
        grid-template-areas:
            'title title'
            'list tonycover'
            'product product';
    }
    #wrap main .magazine_wrap .monthly_tony h1,
    #wrap main .magazine_wrap .monthly_tony h1 span {text-align:center;}
    #wrap main .magazine_wrap .monthly_tony h1 {padding-bottom:30px;}
    #wrap main .magazine_wrap .monthly_tony .magazine_list_wrap {padding-left:80px;}
    #wrap main .magazine_wrap .monthly_tony .magazine_list_wrap li a p {
        color:#333; margin-bottom:15px; font-size:0.75rem; font-weight:300;
    }
    #wrap main .magazine_wrap .monthly_tony .magazine_list_wrap li a .magazine_title {
        display:flex; flex-flow:row nowrap; justify-content:space-between;
        height:20px;
    }
    #wrap main .magazine_wrap .monthly_tony .magazine_list_wrap li a .magazine_title h2 {
        font-family: "Fredoka", sans-serif; font-weight:300; 
        color:#333;
    }
    #wrap main .magazine_wrap .monthly_tony .magazine_list_wrap li a .magazine_title img {height:100%}
    #wrap main .magazine_wrap .monthly_tony .magazine_bg {padding:30px 30px 0;}
    #wrap main .magazine_wrap .monthly_tony .magazine_bg .magazine_active {
        background:url(../images/tablet/monthly_tony_2603_tablet.png);
        background-position:center; background-repeat: no-repeat;
    }
    #wrap main .magazine_wrap .monthly_tony .magazine_container {
        flex-flow:row nowrap; justify-content:space-between; padding:30px 110px 80px;
    }
    #wrap main .magazine_wrap .monthly_tony .magazine_container .magazine_product {
        flex-flow:column nowrap; align-items:flex-start;
    }
    #wrap main .magazine_wrap .monthly_tony .magazine_container .magazine_product .photo {width:256px;}
    #wrap main .magazine_wrap .monthly_tony .magazine_container .magazine_product .photo img {width:100%;}
    #wrap main .magazine_wrap .monthly_tony .magazine_container .magazine_product .contents {}
    #wrap main .magazine_wrap .monthly_tony .magazine_container .magazine_product .contents h2 {font-size:0.94rem;}
    #wrap main .magazine_wrap .monthly_tony .magazine_container .magazine_product .contents .price_info {
        display:flex; flex-flow:row nowrap; gap:8px; margin-bottom:10px;
    }
    #wrap main .magazine_wrap .monthly_tony .magazine_container .magazine_product .contents .price_info .discount {font-size:0.88rem;}
    #wrap main .magazine_wrap .monthly_tony .magazine_container .magazine_product .contents .price_info .price {font-size:0.88rem;}
    /* ===========================================================================6. brand store */
    #wrap main .brand_store {padding:80px;}
    #wrap main .brand_store .title {margin-bottom:40px;}
    #wrap main .brand_store .store_search_wrap {gap:30px;}
    #wrap main .brand_store .store_search_wrap .store_map {
        background-image:url(../images/tablet/brand_store_tablet.png);
        flex:488;
    }
    #wrap main .brand_store .store_search_wrap #store_search_form {flex:350;}
    #wrap main .brand_store .store_search_wrap #store_search_form .search_area_wrap .map_search {
        padding:20px 30px; font-size:0.75rem;
    }
    #wrap main .brand_store .store_search_wrap #store_search_form .result_list_area {}
    #wrap main .brand_store .store_search_wrap #store_search_form .result_list_area .result_list {padding:20px; gap:55px;}
    /* ===========================================================================footer */
    #wrap footer .footer_top {padding:0 80px;}
    #wrap footer .footer_top .fnb {font-size:0.75rem; gap:30px; padding:10px 0;}
    #wrap footer .footer_top .fnb a {}
    #wrap footer .footer_top .footer_sns {gap:25px;}
    #wrap footer .footer_top .footer_sns a {height:24px;}
    #wrap footer .footer_bottom {padding:40px 80px;}
    #wrap footer .footer_bottom .footer_left {padding-left:0;}
    #wrap footer .footer_bottom .footer_left h1,
    #wrap footer .footer_bottom .footer_right h2 {font-size:0.75rem;}
    #wrap footer .footer_bottom .footer_left address span,
    #wrap footer .footer_bottom .footer_right p span {height:6px;}
    #wrap footer .footer_bottom .footer_left address,
    #wrap footer .footer_bottom .footer_left address a,
    #wrap footer .footer_bottom .footer_left p,
    #wrap footer .footer_bottom .footer_left p a,
    #wrap footer .footer_bottom .footer_right p,
    #wrap footer .footer_bottom .footer_right .cs_btn a {font-size:0.63rem;}
    #wrap footer .footer_bottom .footer_right {padding-right:0;}
    #wrap footer .footer_bottom .footer_right .cs_number {font-size:1.25rem; font-weight:500;}
    #wrap footer .footer_bottom .footer_right .cs_time {margin-bottom:6px;}
    /* =========================================================================== sub_list */
    #wrap main {padding:0;}
    #wrap main .container .boncept_wrap .boncept_top .boncept_left a {
        padding:15px 35px; font-size:0.75rem;
    }
    #wrap main .container .boncept_wrap .boncept_top .boncept_left a.active {font-size:0.88rem;}
    #wrap main .container .boncept_wrap .boncept_top .boncept_right a {
        margin-right:10px;
    }
    #wrap main .container .boncept_wrap .product_wrap {gap:20px;}
    #wrap main .container .boncept_wrap .product_wrap .boncept_bnr {
        width:calc((100% - 40px) / 3);
    }
    #wrap main .container .boncept_wrap .product_wrap .boncept_product {
        width:calc((100% - 40px) / 3);
    }
}

@media screen and (max-width:850px) {
    /* =========================================================================== sub_list */
    #wrap main .container .boncept_wrap .boncept_top .boncept_right a {
        display:none;
    }
    #wrap main .container .boncept_wrap .boncept_top .boncept_right a.active {
        display:flex; font-size:0.75rem;
    }
}
@media screen and (max-width:800px) {
    #wrap header #top_bnr {height:30px;}
    #wrap header .all_menu {height:50px; padding:0 15px;}
    #wrap header .all_menu .user_menu a {margin-right:12px;}
    #wrap header .all_menu h1 a img {width:118px;}
    #wrap header .all_menu .user_menu {height:20px;}
    #wrap header .all_menu .user_menu a img {height:100%;}
    /* ===========================================================================1. hero_bnr */
    #wrap main #hero_bnr .hero_swiper_wrap {}
    /* ===========================================================================공통 container */
    #wrap main .container {padding:80px 15px 0;}
    #wrap main .container .title h1 {font-size:1.5rem;}
    #wrap main .container .title .list a {font-size:0.75rem;}
    #wrap main .container .title .list a.active {font-size:0.88rem;}
    #wrap main .container .list_container .swiper .swiper-wrapper .swiper-slide {width:calc((100% - 15px) / 2);}
    #wrap main .container .list_container .swiper .swiper-wrapper {margin-bottom:60px;}
    #wrap main .container .list_container .swiper .swiper-wrapper .swiper-slide .photo {height:230px;}
    #wrap main .container .list_container .swiper .swiper-wrapper .swiper-slide .photo img {
    height:100%; margin-bottom:15px;
    }
    #wrap main .container .more {font-size:0.63rem; height:10px;}
    #wrap main .container .list_container .swiper .swiper-wrapper .swiper-slide .contents > h2 {margin-bottom:25px;}
    #wrap main .container .list_container .swiper .swiper-wrapper .swiper-slide .contents h2,
    #wrap main .container .list_container .swiper .swiper-wrapper .swiper-slide .contents .contents_title h2,
    #wrap main .container .list_container .swiper .swiper-wrapper .swiper-slide .contents .price_info .discount,
    #wrap main .container .list_container .swiper .swiper-wrapper .swiper-slide .contents .price_info .price {font-size:0.75rem;}
    #wrap main .container .list_container .swiper .swiper-wrapper .swiper-slide .contents .price_info del,
    #wrap main .container .list_container .swiper .swiper-wrapper .swiper-slide .contents .contents_title .color > p,
    #wrap main .container .list_container .swiper .swiper-wrapper .swiper-slide .contents .grade p {font-size:0.68rem;}
    #wrap main .container .list_container .swiper .swiper-wrapper .swiper-slide .contents .grade {width:10px;}
    #wrap main .container .list_container .swiper .control_bar .prev,
    #wrap main .container .list_container .swiper .control_bar .next {width:16px; height:16px;}
    /* ===========================================================================3. new_item */
    #wrap main .new_item {
        display:flex; flex-flow:column nowrap; justify-content:stretch;
        gap:30px; padding:80px 0 0 0;
    }
    #wrap main .new_item > p {
    background-image:url(../images/mobile/new_item_bnr_moblie.png); width:100%; height:300px; margin-bottom:20px;
    }
    #wrap main .new_item .new_container .new_info {
        display:flex; flex-flow:column nowrap;
        align-items:center;
    }
    #wrap main .new_item .new_container .new_info h1 {font-size:1.38rem; text-align:center;}
    #wrap main .new_item .new_container .new_info h1 span {font-size:1.56rem;}
    #wrap main .new_item .new_container .new_info .new_detail {flex-flow:column nowrap; align-items:flex-end; padding:20px 0;}
    #wrap main .new_item .new_container .new_info .new_detail p {
        font-size:0.75rem; margin-bottom:50px;
        text-align:center;
    }
    #wrap main .new_item .new_container .new_list {
        padding:0 15px; gap:15px;
    }
    #wrap main .new_item .new_container .new_list .new_contents {padding-bottom:20px;}
    #wrap main .new_item .new_container .new_list .new_contents .photo {width:266px;}
    #wrap main .new_item .new_container .new_list .new_contents .contents > h2 {font-size:0.75rem; margin-bottom:25px;}
    #wrap main .new_item .new_container .new_list .new_contents .contents .contents_title h2,
    #wrap main .new_item .new_container .new_list .new_contents .contents .price_info .discount,
    #wrap main .new_item .new_container .new_list .new_contents .contents .price_info .price {font-size:0.75rem;}
    #wrap main .new_item .new_container .new_list .new_contents .contents .price_info del {
    font-size:0.63rem;
}
    #wrap main .new_item .new_container .new_list .new_contents .contents .contents_title .color {gap:4px;}
    #wrap main .new_item .new_container .new_list .new_contents .contents .contents_title .color span {
        width:8px; height:8px; border-radius:8px; background:#888;
    }
    #wrap main .new_item .new_container .new_list .new_contents .contents .contents_title .color p {font-size:0.5rem;}
    #wrap main .new_item .new_container .new_list .new_contents .contents .grade {width:10px;}
    /* ===========================================================================4. boncept */
    #wrap main .boncept {padding:80px 0;}
    #wrap main .boncept .boncept_bnr .title::before {
        width:200px; height:200px;
        background-position:center; background-size:cover; left:13.5%; 
    }
    #wrap main .boncept .boncept_bnr .title {padding:100px 0;}
    #wrap main .boncept .boncept_bnr .title p:last-child {margin-bottom:0;}
    #wrap main .boncept .boncept_bnr .title h1 {font-size:2.2rem;}
    #wrap main .boncept .boncept_bnr .title p {font-size:1.25rem;}
    #wrap main .boncept .more {padding:0 15px;}
    #wrap main .boncept .boncept_list {padding:0 15px;}
    /* ===========================================================================5. monthlyTONY. */
    #wrap main .magazine_wrap {display:block; padding:0;}
    #wrap main .magazine_wrap .monthly_tony {
        display:flex; flex-flow:column nowrap;
        justify-content:center; align-items:center;
    }
    #wrap main .magazine_wrap .monthly_tony h1 {font-size:1.25rem; padding:0 0 30px;}
    #wrap main .magazine_wrap .monthly_tony h1 span {font-size:2.19rem;}
    #wrap main .magazine_wrap .monthly_tony .magazine_list_wrap {padding:0; width:100%;}
    #wrap main .magazine_wrap .monthly_tony .magazine_list_wrap li {display:none;}
    #wrap main .magazine_wrap .monthly_tony .magazine_list_wrap li.active {display:block;}
    #wrap main .magazine_wrap .monthly_tony .magazine_list_wrap li a .magazine_title img {height:100%}
    #wrap main .magazine_wrap .monthly_tony .magazine_bg {padding:0;}
    #wrap main .magazine_wrap .monthly_tony .magazine_bg .magazine_active {
        background:url(../images/mobile/monthly_tony_2603_mobile.png);
        max-width:402px; height:484px;
        margin:0 auto;
    }
    #wrap main .magazine_wrap .monthly_tony .magazine_container {
        flex-flow:column nowrap; padding:20px 30px 0 30px; width:100%;
        justify-content:center; align-items:flex-start;
    }
    #wrap main .magazine_wrap .monthly_tony .magazine_container .magazine_product {
        flex-flow:row nowrap; align-items:center;
    }
    #wrap main .magazine_wrap .monthly_tony .magazine_container .magazine_product .photo {width:100px;}
    #wrap main .magazine_wrap .monthly_tony .magazine_container .magazine_product .photo img {width:100%;}
    #wrap main .magazine_wrap .monthly_tony .magazine_container .magazine_product .contents h2 {margin-bottom:25px;}
    #wrap main .magazine_wrap .monthly_tony .magazine_container .magazine_product .contents h2,
    #wrap main .magazine_wrap .monthly_tony .magazine_container .magazine_product .contents .price_info .discount,
    #wrap main .magazine_wrap .monthly_tony .magazine_container .magazine_product .contents .price_info .price {font-size:0.75rem;}
    #wrap main .magazine_wrap .monthly_tony .magazine_container .magazine_product .contents .price_info {
        display:flex; flex-flow:row nowrap; gap:8px; margin-bottom:10px;
    }
    #wrap main .magazine_wrap .monthly_tony .magazine_container .magazine_product .contents .price_info del {font-size:0.68rem;}
    #wrap main .magazine_wrap .monthly_tony .magazine_container .magazine_product .contents .grade {height:10px;}
    #wrap main .magazine_wrap .monthly_tony .magazine_container .magazine_product .contents .grade p {font-size:0.68rem;}
    /* ===========================================================================6. brand store */
    #wrap main .brand_store {padding:80px 30px 50px;}
    #wrap main .brand_store .title {margin-bottom:30px;}
    #wrap main .brand_store .store_search_wrap {
        flex-flow:column nowrap; max-width:800px; height:900px;}
    #wrap main .brand_store .store_search_wrap .store_map {
        background-image:url(../images/mobile/brand_store_mobile.png);
        width:100%; height:100%;
    }
    #wrap main .brand_store .store_search_wrap #store_search_form {flex:350;}
    #store_search_form .tab_area .tab,
    #store_search_form .search_area_wrap .filter_area .search_result,
    #wrap main .brand_store .store_search_wrap #store_search_form .result_list_area .result_list .store_info .store_address h2 {font-size:0.88rem;}
    #wrap main .brand_store .store_search_wrap #store_search_form .result_list_area .result_list .store_info .store_number,
    #wrap main .brand_store .store_search_wrap #store_search_form .result_list_area .result_list .store_info .store_address > p {font-size:0.75rem;}
    #wrap main .brand_store .store_search_wrap #store_search_form .result_list_area .result_list .store_info .store_address > p {margin-bottom:20px;}
    #wrap main .brand_store .store_search_wrap #store_search_form .search_area_wrap .map_search {
        padding:20px 15px; font-size:0.75rem;
    }
    #wrap main .brand_store .store_search_wrap #store_search_form .result_list_area .result_list {padding:20px; gap:55px;}
    /* ===========================================================================footer */
    #wrap footer .footer_top {padding:15px;
    display:flex; flex-flow:column nowrap; gap:15px; justify-content:center;}
    #wrap footer .footer_top .fnb {font-size:0.68rem; gap:20px; padding:0;}
    #wrap footer .footer_top .footer_sns {gap:15px;}
    #wrap footer .footer_top .footer_sns a {height:20px;}
    #wrap footer .footer_bottom {flex-flow:column nowrap; padding:30px; gap:20px;}
    #wrap footer .footer_bottom .footer_left {padding-left:0; text-align:center;}
    #wrap footer .footer_bottom .footer_left h1 {margin-bottom:15px;}
    #wrap footer .footer_bottom .footer_left address span,
    #wrap footer .footer_bottom .footer_right p span {margin:0 5px;}
    #wrap footer .footer_bottom .footer_left > p:last-child {margin-top:20px;}
    #wrap footer .footer_bottom .footer_left h1,
    #wrap footer .footer_bottom .footer_right h2 {font-size:0.75rem;}
    #wrap footer .footer_bottom .footer_left address span,
    #wrap footer .footer_bottom .footer_right p span {height:5px;}
    #wrap footer .footer_bottom .footer_left address,
    #wrap footer .footer_bottom .footer_left address a,
    #wrap footer .footer_bottom .footer_left p,
    #wrap footer .footer_bottom .footer_left p a,
    #wrap footer .footer_bottom .footer_right p,
    #wrap footer .footer_bottom .footer_right .cs_btn a {font-size:0.56rem;}
    #wrap footer .footer_bottom .footer_right {text-align:center;}
    #wrap footer .footer_bottom .footer_right .cs_btn {justify-content:center;}
    #wrap footer .footer_bottom .footer_right .cs_number {font-size:1rem;}
    #wrap footer .footer_bottom .footer_right .cs_time {margin-bottom:6px;}
    #wrap footer .footer_bottom .footer_right h2,
    #wrap footer .footer_bottom .footer_right .cs_number {display:inline-block; vertical-align:middle;
    line-height:16px;}
    /* =========================================================================== sub_list */
    #wrap main .container .boncept_wrap .boncept_top,
    #wrap main .container .boncept_wrap .product_wrap {padding:0 50px;}
    #wrap main .container .boncept_title h1 {font-size:1.5rem; margin-bottom:10px;}
    #wrap main .container .boncept_title p {font-size:0.75rem;}
    #wrap main .container .boncept_wrap .product_wrap {gap:15px;}
    #wrap main .container .boncept_wrap .product_wrap .boncept_bnr {
        width:calc((100% - 15px) / 2);
    }
    #wrap main .container .boncept_wrap .product_wrap .boncept_product {
        width:calc((100% - 15px) / 2);
    }
}

@media screen and (max-width:500px) {
    #wrap header #top_bnr .top_bnr_close {right:15px;}
    #wrap main #hero_bnr .hero_swiper_wrap {}
    #wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper .swiper-slide .hero_swiper .text {
        display:flex; flex-flow:column nowrap; justify-content:center; align-items:center; gap:410px;
    }
    #wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper .slide2 .hero_swiper .text .text_title p {
        display:flex; flex-flow:column nowrap; justify-content:center; font-size:0.8rem; margin-bottom:8px; gap:3px;
    }
    #wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper .slide1 .hero_swiper .text .text_title p {
        display:flex; justify-content:center; font-size:0.8rem; margin-bottom:8px;
    }
    #wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper .slide1 .hero_swiper .text .text_title p span {width:10px;}
    #wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper .swiper-slide .hero_swiper .text .text_title h1 {font-size:2.19rem; line-height:1.2; text-align:center; position:relative;}
    #wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper .swiper-slide .hero_swiper .text .text_title h1 br::after {content:'';}
    #wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper .swiper-slide .hero_swiper .text .text_title h1 br {display:none;}
    #wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper .swiper-slide .hero_swiper .text > p {font-size:0.88rem; text-align:center;}
    #wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper .slide1 {
    background-image:url(../images/hero_bnr/hero_bnr_m01.jpg);
    aspect-ratio: 500 / 746; 
    }
    #wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper .slide2 {
        background-image:url(../images/hero_bnr/hero_bnr_m02.jpg);
        aspect-ratio: 500 / 746;
    }
    #wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper .slide2 .hero_swiper .text .text_title .sub_text_title {gap:0; justify-content:center; align-items:center;}
    /* =============================================================================3. boncept */
    
    #wrap main .boncept .boncept_bnr {
        background-image:url(../images/mobile/boncept_bnr_mobile.png);
    }
    #wrap main .boncept .boncept_bnr .title::before {
        width:130px; height:130px;
        background-position:center; background-size:cover; left:13.5%; 
    }
    #wrap main .boncept .boncept_bnr .title {padding:60px 0;}
    #wrap main .boncept .boncept_bnr .title h1 {font-size:1.2rem;}
    #wrap main .boncept .boncept_bnr .title p {font-size:0.75rem;}
    /* ===========================================================================5. monthlyTONY. */
    #wrap main .magazine_wrap .monthly_tony {
        display:flex; flex-flow:column nowrap;
        max-width:500px;
        width:100%;
        margin:0 auto;
    }
    #wrap main .magazine_wrap .monthly_tony .magazine_bg .magazine_active {
        background:url(../images/mobile/monthly_tony_2603_mobile.png);
        max-width:402px; height:484px;
    }
    /* ===========================================================================6. brand store */
    #wrap main .brand_store .store_search_wrap .store_map {
        background-image:url(../images/mobile/brand_store_mobile.png);
        width:100%; height:100%;
    }
    /* ===========================================================================sub list */
    #wrap main .container .boncept_wrap .boncept_top,
    #wrap main .container .boncept_wrap .product_wrap {padding:0 15px;}
    #wrap main .container .boncept_wrap .boncept_top .boncept_left a {
        padding:12px 25px; font-size:0.68rem;
    }
    #wrap main .container .boncept_wrap .boncept_top .boncept_left a.active {font-size:0.75rem;}
}